<!DOCTYPE html>
<html lang="en">
<head>
  <title>Todos Project</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
    
   <div class="container">
     <div class="row">
       <div class="col-md-6 m-auto">
         {% block content %}{% endblock %}
       </div>
     </div>
   </div>
 </body>
</html>