<nav class="navbar navbar-dark bg-primary mb-4">
		<div class="container-fluid">
		  <div class="navbar-header">
			<a class="navbar-brand" href="#">Tech Writes</a>			
		  </div>	  
		</div>
		<!-- <a class="btn btn-info navbar-btn" href="{% url 'addblog' %}">Add Posts</button> -->

</nav>
