{% extends 'base.html' %}
{% block content %}
<h1> Add your hectic work here </h1>
<form action="" method="POST">
{% csrf_token %}
Work: <br/>
<textarea cols="35" rows="8" name="work">
</textarea><br/>
<input type="submit" value="Submit"/>
<!-- <button type="submit" class="btn btn-primary">Submit</button> -->
</form>

<div>
    <a href="{% url 'showmenu' %}" class="btn btn-primary" role="button">show your todolist</a>
</div> 
{% endblock %}