{% extends 'base.html' %}
{% block content %}
{% if mywork %}

    {% for work in mywork %}
		<div class="card mb-3">
			<div class='card-body'>
				<p class ="lead">{{work.data}}</p>	
				
			</div>			
		</div>
	{% endfor %}
{% else %}
<p>NO work !! congo you have done all </p>
{% endif %}



{% endblock %}
