{% extends 'base.html' %}


{% block content %}
<a class="btn" href="{% url 'addblog' %}">Add Posts</button>
    {% if content_list %}    
            {% for latest_data in content_list %}
                <div class ="column">       
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="font-weight-bold" class="card-title">{{latest_data.content_heading}}</h5>
                        <p class="card-text">{{latest_data.content_data}}</p>
                        <p class="card-text">{{latest_data.content_date}}</p>
                        <!-- <a href="#" class="btn btn-primary">Check</a> -->
                        </div>
                    </div>
                </div>
            {% endfor %} 
    {% else %}
        <p>No post available</p>
        {% endif %}   

{% endblock %}




