{% extends 'base.html' %}

{% block content%}

<form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
                <label >Blog title</label>
                <textarea class="form-control" rows="2" name = "title"></textarea>
        </div>
        <div class="form-group">
                <label >Blog content</label>
                <textarea class="form-control" rows="5" name = "blog_data"></textarea>
        </div>

        <!-- code for datepicker -->
        <div class="container">
          <div class="row">
              <div class='col-sm-6'>
                  <div class="form-group">
                      <div class='input-group date' id='datetimepicker1'>
                          <input type='text' class="form-control" />
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                  </div>
              </div>
              <script type="text/javascript">
                  $(function () {
                      $('#datetimepicker1').datetimepicker();
                  });
              </script>
          </div>
      </div>
    </form>

{% endblock %}